services:
  user-api:
    image: nashydawg/ex-user:latest
    depends_on:
      - db
    environment:
      - MONGO_URL=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@db:27017/${MONGO_DB_NAME}?authSource=admin
      - REDIS_URL=redis://redis:6379
    restart: always
    networks:
      - devops-net
    # Thêm phần này để ghi log rõ ràng cho Loki đọc
    logging:
      driver: "json-file"
      options:
        tag: "{{.Name}}"

  db:
    image: mongo:6.0
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    networks:
      - devops-net

  redis:
    image: redis:alpine
    networks:
      - devops-net

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - user-api
    networks:
      - devops-net

  # --- MONITORING: Prometheus & Grafana ---
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      - devops-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - devops-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - devops-net

  # --- LOGGING: Loki & Promtail ---
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - devops-net

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro # Đọc log từ docker host
      - ./promtail/config.yml:/etc/promtail/config.yml # File cấu hình promtail
    command: -config.file=/etc/promtail/config.yml
    networks:
      - devops-net

networks:
  devops-net:
    driver: bridge

volumes:
  mongodb_data: